---

- name: copy ssh keys from host to guest
  copy: src=~/.ssh/{{item}}
        dest=/home/vagrant/.ssh/{{item}}
        owner=vagrant
        group=vagrant
        mode=0400
  with_items:
    - id_rsa
    - id_rsa.pub

- name: install essential packages via apt
  apt: name={{item}} state=latest
  with_items:
    - wget
    - lsof
    - man
    - tree
    - dstat
    - zsh
    - openssl
    - git
    - tmux
    - htop
    - tig
